<h1>Create New User</h1>

<%= form_with model: @user, local: true do |form| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :cnic %>
    <%= form.text_field :cnic %>
  </div>

  <div>
    <%= form.submit "Create User" %>
  </div>
<% end %>

<%= link_to 'Back to Users', users_path %>